
h2{
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3rem;
}

h3{
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8f8f8f;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* Headings */
.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 5rem;
  letter-spacing: 1.2rem;
  text-align: center;
  padding-top: 17%;
  color: #0088CC;
}

/* Containers */
.container-fluid {
  padding: 7% 7%;
}

/* Section colours*/
.coloured {
  background-color: #eeeeee;
  color: #0088CC;
}

.white {
  background-color: #fff;
}

.dark{
  background-color: #666666;
  color: #ffffff;
}

.dark a{
  color: #ffffff;
}

.dark a:hover{
  color: #0088CC;
}

/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight:100;
}

/* Title section  */
#title .container-fluid {
  padding: 2% 10%;
  display: block;
  height: 100vh;
}

/* About me section  */

#about-me .container-fluid{
  text-align: left;
}

.profile-pic {
  width: 70%;
  position: relative;
  left: 10%;
}

#about-me .social-icon {
  margin: 0px 20px 0px 0px;
  color: #0088CC;
}

#about-me .social-icon:hover {
  color: #666666;
}

/* Interests section */
#interests {
  /* position: relative;
  z-index: 1 */
}

.interest-heading {
  font-size: 1.5rem;
}

.interest-box {
  padding: 3%;
}

.interest-icon {
  color: #0088CC;
  margin-bottom: 1rem;
}

.interest-icon:hover {
  color: #666666;
}

/* Footer */
#footer {
  padding: 5% 15% 5%;
}

#footer .social-icon {
  padding: 20px 10px;
}

/* Mobile optimisation  */
@media (max-width: 1028px) {
  #title .container-fluid {
    padding: 2% 5%;
    display: block;
    height: 100vh;
  }

  #about-me .container-fluid{
    text-align: center;
    padding: 7% 5%;
  }

  .container-fluid {
    padding: 7% 5%;
  }

  .big-heading{
    font-size: 3rem;
    letter-spacing: 0.8rem;
  }

  .profile-pic {
    width: 60%;
    position: static;
    padding-bottom: 5%;
  }
}
